:root {
  --color-bg-primary: #ffffff;
  --color-text-primary: #353d51;

  --color-text-default: #000000;

  --color-primary: #f35b19;
  --color-danger: #fc0101;
  --color-primary-text: #ffffff;
  --color-paper: #ffffff;

  --color-radio-border: #707070;
  --color-radio: #c9d1dd;
  --color-radio-active: #000;

  --color-border: #d9dbe0;

  --color-bg-disabled: rgba(234, 236, 239, 0.8);
  --color-bg-disabled-text: #b4b4b4;

  --color-input-filled: #eaecef;
}
